@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
/* @import url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/5.5.2-0/css/ionicons.min.css"); */
#home {
  padding-top: 60px; /* a little more than navbar height */
}
body {
  padding-top: 7rem; /* ~3cm space below navbar */
}
:root {
  --color-priamary2: #0c54a4;
  --color-priamary1: #234d7c;
  --color-priamary: #062c56;
  --color-secondary: #faa71d;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #f9f8f6;
  --color-info-dark: #7d86a1;
  --color-info-light: #dce1ed;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #ecf0f5;
  --color-background1: #0c54a4;

  --background-image: linear-gradient(to right, #0c54a4, #0c53a476 70%),
    url("/assets/hero.webp");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
  color: #333;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background-color: var(--color-secondary);
  /* Transform and Animation */
  transform-origin: left;
  transform: scaleX(0);
  animation: progress linear;
  animation-timeline: scroll();
  z-index: 1000;
}
@keyframes progress {
  to {
    transform: scaleX(1);
  }
}
#home {
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
#home .home-header {
  padding-top: 2rem;
  width: 90%;
}
#home h1 {
  font-size: 3.2rem;
  font-weight: 800;
  margin-bottom: 20px;
  line-height: 40px;
  color: var(--color-white);
}
#home h1 span {
  color: var(--color-secondary);
}
#home p {
  color: var(--color-white);
  font-weight: 200;
  font-size: 18px;
  line-height: 2rem;
  margin-bottom: 24px;
}
section {
  padding: 1rem 0;
}
.address {
  margin-top: 2rem;
  padding: 1rem;
}
.contact-info {
  background: var(--color-priamary);
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  margin-bottom: 2rem;
}
.contact-info-icon .icon {
  font-size: 48px;
  color: #fda40b;
}
.contact-info-text p {
  margin-bottom: 0px;
}
.contact-info-text h2 {
  color: white;
  font-size: 22px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact-info-text span {
  color: var(--color-secondary);
  font-size: 16px;
  display: inline-block;
  width: 100%;
}
.contact-us {
  /* display: grid; */
  gap: 4rem;
  align-self: center;
}
.contact-page-form {
  display: inline-block;
  width: 100%;
  margin-top: 30px;
  padding: 2rem;
  background-color: var(--color-priamary2);
}

.h2 {
  color: var(--color-secondary);
  text-align: center;
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 700;
}
.contact-page-form .contact-form input {
  margin-bottom: 5px;
}
.contact-page-form .contact-form textarea {
  height: 110px;
}
.contact-page-form .contact-form input[type="submit"] {
  background: #071c34;
  width: 150px;
  border-color: #071c34;
}
.contact-page-form input {
  background: #f9f9f9 none repeat scroll 0 0;
  border: 1px solid #f9f9f9;
  margin-bottom: 20px;
  padding: 12px 16px;
  width: 100%;
  border-radius: 4px;
}

.contact-page-form .message-input {
  display: inline-block;
  width: 100%;
  padding-left: 0;
}
.single-input-field textarea {
  background: #f9f9f9 none repeat scroll 0 0;
  border: 1px solid #f9f9f9;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
}
.single-input-fieldsbtn input[type="submit"] {
  background: #fda40b none repeat scroll 0 0;
  color: #fff;
  display: inline-block;
  font-weight: 600;
  padding: 10px 0;
  text-transform: capitalize;
  width: 150px;
  margin-top: 20px;
  font-size: 16px;
  width: 100%;
}
.single-input-fieldsbtn input[type="submit"]:hover {
  background: #071c34;
  transition: all 0.4s ease-in-out 0s;
  border-color: #071c34;
}
.map {
  width: 100%;
  height: 300px;
  border: none;
  margin-top: 2rem;
}
@media screen and (max-width: 768px) {
  #home {
    height: 50vh;
  padding-top: 2rem;
  }
  #home h1 {
    font-size: 3.6rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
  }
  #home p {
    font-size: 2.6rem;
    line-height: 1.2;
  }
}
@media screen and (min-width: 769px) {
  #home {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: start;
    align-items: center;
    top: 50%;
    /* height: 100%; */
  }
  #home .home-header {
    /* padding: 4rem 2rem; */
    padding: 4rem;
  }
  #home h1 {
    font-size: 62px;
    font-weight: 800;
    margin-bottom: 30px;
    line-height: 70px;
    color: var(--color-white);
  }
  #home p {
    width: 50%;
    color: var(--color-white);
    font-weight: 200;
    font-size: 28px;
    line-height: 3rem;
    margin-bottom: 48px;
  }
  /* section {
    padding: 4rem 0;
    min-height: 100vh;
  } */
  .address {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 87%;
    margin-left: 4rem;
    padding: 0rem 0rem;
    margin-top: 4rem;
  }
  .contact-info {
    padding: 2rem 4rem;
    border-radius: 8px;
  }
  .contact-page-form.contact-form input {
    margin-bottom: 5px;
  }
  .contact-page-form.contact-form textarea {
    height: 110px;
  }
  .contact-page-form.contact-form input[type="submit"] {
    background: #071c34;
    width: 150px;
    border-color: #071c34;
  }
  .contact-info-icon i {
    font-size: 48px;
    color: #fda40b;
  }
  .contact-info-text p {
    margin-bottom: 0px;
  }
  .contact-info-text h2 {
    color: #fff;
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .contact-info-text span {
    font-size: 16px;
    display: inline-block;
    width: 100%;
  }

  .contact-page-form input {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #f9f9f9;
    margin-bottom: 20px;
    padding: 12px 16px;
    width: 100%;
    border-radius: 4px;
  }

  .contact-page-form .message-input {
    display: inline-block;
    width: 100%;
    padding-left: 0;
  }
  .single-input-field textarea {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #f9f9f9;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border-radius: 4px;
  }
  .single-input-fieldsbtn input[type="submit"] {
    background: var(--color-secondary) none repeat scroll 0 0;
    color: #3c2807 ;
    display: inline-block;
    font-weight: 600;
    padding: 10px 0;
    text-transform: capitalize;
    width: 150px;
    margin-top: 20px;
    font-size: 16px;
  }
  .single-input-fieldsbtn input[type="submit"]:hover {
    background: #071c34;
    transition: all 0.4s ease-in-out 0s;
    border-color: #071c34;
  }
  .single-input-field h4 {
    color: #464646;
    text-transform: capitalize;
    font-size: 14px;
  }

  .contact-us {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    padding: 0rem 4rem;
    align-self: center;
  }

  .h2 {
    color: var(--color-secondary);
    text-align: center;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 700;
  }
  .map {
    margin-top: 0rem;
    max-width: 100%;
    height: 480px;
    border-radius: 1rem;
  }
  .icon {
    font-size: 48px;
    color: var(--color-secondary);
  }
  .contact-page-form {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
    background-color: var(--color-priamary1);
  }

  .contact-page-map {
    margin-top: 36px;
  }
  .contact-page-form form {
    padding: 20px 15px 0;
  }
}
.row.address {
  display: flex;
  justify-content: space-between; /* adds space between columns */
  flex-wrap: wrap; /* allows wrapping on smaller screens */
  gap: 30px; /* adds fixed horizontal spacing */
}
.row.address .col-md-4 {
  flex: 1; /* each column takes equal width */
  min-width: 200px; /* prevents shrinking too much */
}

