:root {
  --color-priamary2: #0c54a4;
  --color-priamary1: #234d7c;
  --color-priamary: #062c56;
  --color-secondary: #faa71d;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d86a1;
  --color-info-light: #dce1ed;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #ecf0f5;
  --color-background1: #0c54a4;
   --background-image: linear-gradient(to right, #0c54a4, #0c53a476)

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--color-light);
  --box-shadow-1: 0px -5px 3px var(--color-light);
  /* --background-image: linear-gradient(
      rgba(9, 119, 221, 0.541),
      rgba(5, 138, 226, 0.589)
    ),
    url("assets/hero.jpg"); */
}
.dark-theme-variables {
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --color-background1: #181a1e;

  --color-shadow: 0, 2rem, 3rem var(var(--color-light));

  --background-image: linear-gradient(
      rgba(40, 41, 43, 0.541),
      rgba(83, 84, 85, 0.589)
    ),
    url("assets/background-imge.png");
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  appearance: none;
  border: none;
  list-style: none;
  outline: none;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* percentage of user's browser font-size setting */
  /* 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
  height: 100%;
}
body {
  overflow-x: hidden;
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
@media (min-width: 1025px) {
  .hero {
    max-width: 160rem;
    margin: 0rem auto;
    /* padding: 0rem 4.8rem; */
    padding: 10rem 4rem 12rem 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4.6rem;
    align-items: center;
  }
  .hero-heading {
    color: var(--color-white);
    font-size: 5.6rem;
    line-height: 1.05;
    margin-bottom: 3.2rem;
    font-weight: 700;
  }
  .hero-paragraph {
    font-size: 2.3rem;
    line-height: 1.5;
    margin-bottom: 6rem;
  }
  .btn-box .btn {
    font-size: 1.2rem;
  }
  .watch-video-text {
    font-size: 1.3rem;
  }
  .play-icon {
    width: 2rem;
    height: 2rem;
  }
  .img .hidasie-service {
    max-width: 120%;
    animation: to_left 1s ease forwards 1.5s;
    opacity: 0;
  }
  /* Count Number Section */
  .counters {
    position: relative;
    top: -2rem;
    max-width: 80%;
    align-content: center;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
  }
  .counters .counter {
    padding: 1.5rem 1rem;
    border-radius: 30px;
  }
  .counters .counter .number {
    font-size: 2rem;
  }
  .counters .counter .details {
    font-size: 1.2rem;
  }
  @keyframes to_bottom {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes to_right {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes to_up {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes to_left {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .services {
    padding: 4rem 9rem;
  }
  .services .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .feature-image {
    grid-row: span 3;
    display: flex;
    transition: all 0.5s ease;
  }
  .services .container .feature-image:hover {
    transform: scale(1.1);
  }
  .services .heading-secondary {
    font-size: 3.6rem;
  }
  .services span {
    font-size: 1.6rem;
  }
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  .services .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0rem;
    row-gap: 1.2rem;
  }
  .services .grid .feature:nth-child(1) {
    grid-row: span 3;
  }
  .feature {
    transition: all 0.3s ease-out;
    animation: appear 0.5s linear forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

  @keyframes appear {
    from {
      opacity: 0;
      scale: 0.4;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }
  .feature:hover {
    box-shadow: none;
  }
  .feature:nth-child(1) {
    border-radius: 1rem;
    padding: 0rem;
  }
  .feature img {
    border-radius: 1rem;
    transition: all 0.3s ease-out;
  }
  .feature img:hover {
    transform: scale(1.1);
  }
  /* SECTRION STAND */
  .section-stand {
    padding: 4.5rem 9rem;
  }
  .stand {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.015);
    border-radius: 11px;
    height: 30rem;
  }
  .stand .stand-text-box {
    background-color: #062c56;
    padding: 4rem 4rem 0rem 4rem;
    grid-column: 1 / span 2;
  }
  .stand-text-box .heading-secondary {
    margin-bottom: 3rem;
    font-size: 3.6rem;
    animation: to_right 0.3s linear forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
  }
  .stand-text-box .stand-text {
    font-size: 2rem;
    animation: to_right 0.3s linear forwards;
    animation-timeline: view();
    animation-range: entry 10% cover 40%;
  }
  .stand .stand-img {
    background-color: #e67e22;
  }
  .stand-img .women-img {
    max-height: 35rem;
    margin-top: -5rem;
    animation: appear 0.9s linear forwards;
    animation-timeline: view();
    animation-range: entry 3% cover 35%;
  }
  .section-about-us {
    padding: 4.5rem 9rem;
    position: relative;
  }
  .about-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4.6rem;
    background-color: whitesmoke;
  }
  .about-us-text-box,
  .about-us-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.675rem;
    /* margin-top: -4rem;
  } */
  }
  .card {
    background-color: #062c56;
    animation: appear 0.3s linear forwards;
    animation-timeline: view();
    animation-range: entry 5% cover 35%;
    display: flex;
    flex-direction: column-reverse;
  }
  .tag {
    border: 1rem solid #062c56;
    background-color: var(--color-priamary2);
  }
  .about-us-desc {
    font-size: 1.8rem;
    line-height: 2;
    padding: 1rem 4rem;
  }
  .about-us-span {
    font-size: 2rem;
    animation: to_up 0.3s linear forwards;
    animation-timeline: view();
    animation-range: entry 5% cover 35%;
  }
  .about-us-heading {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 3.4rem;
    margin-bottom: 2.6rem;
    border-bottom: 0.5rem solid var(--color-secondary);
    border-style: solid;
    animation: appear 0.5s linear forwards;
    animation-timeline: view();
    animation-range: entry 10% cover 40%;
  }
  .about-us-text {
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding-right: 6rem;
    animation: appear 0.5s linear forwards;
    animation-timeline: view();
    animation-range: entry 25% cover 65%;
  }
  .our-vision,
  .our-goal {
    animation: to_up 0.5s linear forwards;
    animation-timeline: view();
    animation-range: entry 5% cover 35%;
  }
  .our-vision-title,
  .our-goal-title {
    font-size: 1.8rem;
  }
  .our-goal-text,
  .our-vision-text {
    font-size: 1.4rem;
    line-height: 2.3rem;
    color: #747373;
  }
  .contact-us-link {
    width: 95%;
    text-align: center;
    transition: all 0.3s ease-in;
    animation: to_up 0.3s linear forwards;
    animation-timeline: view();
    animation-range: entry 5% cover 35%;
  }
  .contact-us-link:hover {
    background-color: var(--color-priamary);
    color: var(--color-secondary);
  }

  /* SECTION LANDSCAPE */
  .section-landscape {
    position: relative;
    margin-bottom: 12rem;
  }
  .landscape-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .heading-landscape {
    padding: 2rem;
  }
  .heading-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0rem 0rem;
    background-color: var(--color-priamary2);
  }
  .heading-title {
    font-size: 3.4rem;
    color: var(--color-secondary);
    animation: to_up 0.5s linear forwards;
    animation-timeline: view();
    animation-range: entry 15% cover 55%;
  }
  .heading-button {
    background-color: var(--color-priamary);
    font-weight: 600;
    font-size: 18px;
    padding: 12px 16px;
    box-shadow: 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s all;
    animation: to_up 0.5s linear forwards;
    animation-timeline: view();
    animation-range: entry 15% cover 55%;
  }
  .heading-button:hover {
    background-color: #234d7c;
  }
  .lansdscape-des {
    max-width: 80%;
    max-height: 90rem;
    padding: 2rem 4rem 3rem 8rem;
    box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.1);
    column-gap: 4rem;
    row-gap: 6rem;
    align-self: center;
    position: absolute;
    top: 25rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .des-card {
    animation: appear 0.5s linear forwards;
    animation-timeline: view();
    animation-range: entry 15% cover 45%;
  }
  .des-card::after {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -2.4rem;
    top: 5rem;
  }
  .card-title {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 1.2rem;
  }
  .card-description {
    font-size: 1.4rem;
    line-height: 1.8;
  }
  .des-card-icon {
    background-color: var(--color-priamary);
    left: -4rem;
    top: 1rem;
  }
  /* SECTION WORK WITH US */
  /* Timeline  */
  /* Testimonials */
  .testimonials-section {
    padding: 4.5rem 9rem;
  }
  .tesimonials-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4rem;
    row-gap: 4.6rem;
  }

  .tesimonials-des {
    padding: 4rem 9rem;
    display: flex;
    animation: appear 0.5s linear forwards;
    animation-timeline: view();
    animation-range: entry 15% cover 45%;
  }
  .testimonials-tittle {
    font-size: 3.6rem;
    margin-bottom: 2rem;
  }
  .testimonials-description {
    font-size: 1.5rem;
    font-weight: 400;
    color: #333;
    padding: 0rem 0rem;
    margin-top: 4rem;
  }
  /* TEstionials Sectio END */
  /* CHOICE US  section */
  .choice-us {
    overflow: hidden;
    padding: 4.5rem 9rem;
  }
  .container-you-choice-us {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    padding: 2rem;
  }
  .container-you-choice-us .heading-choice-us {
    font-size: 3.6rem;
    line-height: 2;
    color: var(--color-priamary2);
    display: flex;
  }
  .description{
    grid-column: span 2;
    padding: 3rem 0;
  }
  .description .des {
    font-size: 2rem;
    line-height: 1.7;
  }
  .icons-expe {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem 0 0 0;
    /* row-gap: 2rem; */
    /* column-gap: 2rem; */
  }
  .icon span {
    color: var(--color-secondary);
    font-size: 50px;
    /* margin-bottom: 2rem; */
  }
  .icons-expe .details {
    font-size: 1.6rem;
    font-weight: 600;
  }
  .wrapper-blog {
    padding: 4rem 9rem;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
  }
  
}
