:root {
  --color-priamary: #0c54a4;
  --color-secondary: #faa71d;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d86a1;
  --color-info-light: #dce1ed;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #ecf0f5;
  --color-background1: #0c54a4;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--color-light);
  --box-shadow-1: 0px -5px 3px var(--color-light);
  /* --background-image: linear-gradient(
      rgba(9, 119, 221, 0.541),
      rgba(5, 138, 226, 0.589)
    ),
    url("assets/hero.jpg"); */
}
.dark-theme-variables {
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --color-background1: #181a1e;

  --color-shadow: 0, 2rem, 3rem var(var(--color-light));

  --background-image: linear-gradient(
      rgba(40, 41, 43, 0.541),
      rgba(83, 84, 85, 0.589)
    ),
    url("assets/background-imge.png");
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  appearance: none;
  border: none;
  list-style: none;
  outline: none;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* percentage of user's browser font-size setting */
  /* 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
}
body {
  overflow-x: hidden;
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/* Progress scroll Animation */
/* Progress Bar Styles */
.progress {
  /* Positioning */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1rem;
  /* Background and Color */
  background-color: var(--color-secondary);
  /* Transform and Animation */
  transform-origin: left;
  transform: scaleX(0);
  animation: progress linear;
  animation-timeline: scroll();
  z-index: 1000;
}
/* Progress Bar Animation Keyframes */
@keyframes progress {
  to {
    transform: scaleX(1);
  }
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
  width: 100%;
  position: sticky;
  top: 0;
  /* background-color: var(--color-priamary); */
  background-color: #234d7c;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  z-index: 999;
}
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
  max-width: 1600px;
}
.navbar-logo {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-white);
  text-decoration: none;
  cursor: pointer;
}
.navbar-container .navbar-menu {
  display: flex;
  text-align: center;
  gap: 1.5rem;
  list-style: none;
}
.navbar-container .navbar-menu li a {
  text-decoration: none;
  color: var(--color-white);
  font-size: 2rem;
  font-weight: 500;
  padding: 0.3rem 5rem;
  transition: all 0.7s ease;
  white-space: nowrap;
}
.navbar-container .navbar-menu li a:hover,
.navbar-container .navbar-menu li a.active {
  color: var(--color-secondary);
}
.navbar-toggle {
  display: none;
  background-color: transparent;
  padding: 1rem;
  border: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 2.5rem;
  height: 0.3rem;
  margin: 0.5rem auto;
  background-color: var(--color-white);
}
@media (max-width: 880px) {
  .navbar {
    backdrop-filter: none;
  }
  .navbar-container .navbar-menu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem !important;
    position: absolute;
    height: 100vh;
    width: 20rem;
    /* background-color: var(--color-priamary); */
    background-color: #234d7c;
    top: 0;
    right: 0;
    padding: 7rem 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
  }
  .navbar-container .navbar-menu.active {
    display: flex;
  }
  .navbar-toggle {
    display: block;
    z-index: 999;
  }
  .navbar-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }
  .navbar-toggle.navbar-toggle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .navbar-toggle.navbar-toggle.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
@media (max-width: 480px) {
  .navbar-container {
    padding: 0 1rem;
  }
  .navbar-logo {
    font-size: 1.7rem;
  }
  .navbar-container .navbar-menu li a {
    font-size: 1.2rem;
    padding: 0.3rem 1.5rem;
  }
}
.hero-section {
  position: relative;
  height: 85vh;
  padding: 0px 9rem;
  background-color: #234d7c;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.hero-section .text-box,
.hero-section .img {
  flex: 10%;
  margin-top: 0px;
}
.hero-section .img {
  position: relative;
  margin-top: -5rem;
}
.text-box {
  padding: 15rem 0rem 10rem 2rem;
  margin-top: 2rem;
}
.text-box .rated {
  position: absolute;
  display: flex;
  align-items: center;
  top: 3rem;
}
.rated .rated-icon {
  margin-left: 1rem;
  animation: to_right 1s ease forwards 1.5s;
}
.rated-icon .star-rate {
  color: var(--color-secondary);
  font-weight: bold;
  animation: to_right 1s ease forwards 1.2s;
}
.text-box .text-rate {
  border: 1px solid var(--color-white);
  color: var(--color-white);
  padding: 1rem 1.5rem;
  font-weight: bold;
  border-radius: 5rem;
  box-shadow: 0px 1rem 1rem rgba(0, 0, 0, 0.2);
  background-color: var(--color-priamary);
  animation-duration: 0.2s;
  animation-fill-mode: forwards 1.3s;
}
.text-box h1 {
  color: var(--color-white);
  font-size: 4.8rem;
  margin-top: -4rem;
  line-height: 1.4;
  animation: to_right 1s ease;
  animation-fill-mode: forwards 1.3s;
}
.text-box .span {
  color: var(--color-secondary);
  animation-delay: 1.5s;
}
.text-box p {
  margin-top: 3rem;
  margin-bottom: 5rem;
  font-size: 10px;
  line-height: 1.6;
  color: var(--color-white);
  animation: to_right 1s ease forwards 1.5s;
}
.text-box .text-rat,
.text-box .rated-icon {
  opacity: 0;
}
.text-box p,
h5 {
  opacity: 0;
}
.text-box .btn {
  opacity: 0;
}
.text-box .icon-btn {
  opacity: 0;
}
.text-box .watch-video-text {
  opacity: 0;
}
.btn-box {
  display: flex;
  align-items: center;
}
.watch-video-text {
  font-weight: bold;
  color: var(--color-secondary);
  cursor: pointer;
  transition: 0.3s;
  animation: to_up 1s ease forwards 2.5s;
}
.play-icon {
  width: 2rem;
  height: 2rem;
}
.btn-box .icon-btn {
  background-color: var(--color-white);
  color: var(--color-secondary);
  padding: 0.6rem;
  border-radius: 50%;
  margin-left: 1rem;
  margin-right: 1rem;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.3s;
  animation: to_up 1s ease forwards 2s;
}
.btn-box .btn {
  background-color: #0c54a4;
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  border: none;
  color: var(--color-white);
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  animation: to_up 1s ease forwards 1.9s;
}
.btn:hover {
  background-color: var(--color-white);
  color: var(--color-priamary);
  box-shadow: 0 0 15px var(--color-priamary);
}
.img .hidasie-service {
  width: 110%;
  /* max-width: 600px; */
  animation: to_left 1s ease forwards 1.5s;
  opacity: 0;
}
/* Count Number Section */
.container-counter {
  padding: 4.5rem 9rem;
  width: 100%;
  height: 50px;
  display: flex;
  color: var(--color-secondary);
}
.container-counter .counters {
  width: 70%;
  position: absolute;
  bottom: -2.5rem;
}
.container-counter .counters .counter {
  background: var(--color-white);
  border-radius: 50px;
  padding: 1.5rem 3rem;
  text-wrap: nowrap;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);

  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
  animation: to_up 1s ease;
  animation-duration: forwards 1.3s;
}
.container-counter .counters .counter .number {
  font-size: 30px;
  font-weight: 600;
}
.container-counter .counters .counter p {
  color: var(--color-priamary);
  font-size: 1.2rem;
  font-weight: 600;
}
@keyframes to_bottom {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes to_right {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes to_up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes to_left {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.services {
  display: flex;
  flex-direction: column;
  padding: 4rem 9rem;
  justify-content: space-between;
}
.services h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--color-priamary);
  text-align: center;
  padding: 0 6rem;
  margin: 3rem 0;
}
.services span {
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-secondary);
  margin-top: 1rem;
  display: block;
  text-align: center;
}
.grid {
  display: grid;
  column-gap: 0rem;
  row-gap: 1.2rem;
}
.services .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.services .grid .feature:nth-child(1) {
  grid-row: span 3;
}
.feature {
  padding: 1rem 2rem;
  border-radius: var(--border-radius-2);
  box-shadow: var(--box-shadow);
  background-color: var(--color-white);
  margin-left: 1rem;
  transition: all 0.3s ease-out;
  animation: appear 0.5s linear forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.4;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
.feature:hover {
  box-shadow: none;
}
.feature:nth-child(1) {
  border-radius: 1rem;
  padding: 0rem;
}
.feature img {
  border-radius: 1rem;
  transition: all 0.3s ease-out;
}
.feature img:hover {
  transform: scale(1.1);
}
.services .feature-icon {
  color: var(--color-secondary);
  width: 3rem;
  height: 3rem;
  padding: 0.8rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.feature-title {
  font-size: 1.4rem;
  color: var(--color-priamary);
  font-weight: 600;
  margin-bottom: 0.8rem;
}
.feature-text {
  font-size: 1.2rem;
  color: #747373;
  line-height: 2.5rem;
}
/* SECTRION STAND */
.section-stand {
  padding: 4.5rem 9rem;
}
.stand {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.015);
  border-radius: 11px;
  position: relative;
  height: 30rem;
}
.stand .stand-text-box {
  /* background-image: linear-gradient(to right bottom, #0c69e4, #0c6ae496); */
  background-color: #062c56;
  padding: 4rem 4rem 0rem 4rem;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}
.stand-text-box .heading-secondary {
  color: var(--color-secondary);
  margin-bottom: 2rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  font-size: 3.6rem;
  line-height: 1.2;
  animation: to_right 0.3s linear forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}
.stand-text-box .stand-text {
  font-size: 1.8rem;
  line-height: 3rem;
  margin-top: 3rem;
  font-weight: 600;
  width: 80%;
  color: var(--color-white);
  animation: to_right 0.3s linear forwards;
  animation-timeline: view();
  animation-range: entry 10% cover 40%;
}
.stand .stand-img {
  background-color: #e67e22;
  height: 30rem;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}
.stand-img img {
  height: 35rem;
  margin-left: 10rem;
  position: absolute;
  bottom: 0rem;
  top: -5rem;
  animation: appear 0.9s linear forwards;
  animation-timeline: view();
  animation-range: entry 3% cover 35%;
}
.section-about-us {
  padding: 4.5rem 9rem;
}
.about-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4.6rem;
  background-color: whitesmoke;
}
.about-us-img-box-container,
.about-us-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 85vh;
  gap: 0.675rem;
  margin-top: -4rem;
}
.card {
  position: relative;
  animation: appear 0.3s linear forwards;
  animation-timeline: view();
  animation-range: entry 5% cover 35%;
}
.cardImg {
  background-color: var(--color-white);
  width: 50rem;
  height: 45rem;
  border-radius: 1rem solid var(--color-white);
  overflow: hidden;
  position: relative;
}
.cardImg img {
  width: 80%;
  height: 80%;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.tag {
  background-color: var(--color-priamary);
  width: 20rem;
  height: 8rem;
  position: absolute;
  top: 20.5rem;
  bottom: 0px;
  right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1rem solid var(--color-white);
  border-radius: 1.25rem 0 0;
  padding: 0.525rem;
  color: var(--color-white);
}
.tag::after {
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  position: absolute;
  top: -3.5rem;
  right: 0px;
  border-bottom-right-radius: 1.25rem;
  box-shadow: 0.375rem 0.375rem var(--color-white);
}
.tag p {
  font-size: 1rem;
  line-height: 1.8;
  font-weight: 500;
}
.tag span {
  font-weight: bolder;
  font-size: 1.4rem;
  color: var(--color-secondary);
}
.about-img {
  position: absolute;
  width: 90%;
  height: 60%;
  top: 1.5rem;
  right: 4rem;
  border-right: 1rem solid var(--color-white);
}
.about-img img {
  width: 100%;
  height: 100%;
  border-radius: 1.2rem;
}
.img-box {
  position: absolute;
  width: 100%;
  height: 240px;
  background-size: cover;
  background-position: center;
  border-radius: 40px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.about-us-span {
  color: var(--color-secondary);
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1.9rem;
  padding-top: 1.5rem;
  animation: to_up 0.3s linear forwards;
  animation-timeline: view();
  animation-range: entry 5% cover 35%;
}
.about-us-heading {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 3.4rem;
  margin-bottom: 2.6rem;
  color: var(--color-priamary);
  border-bottom: 0.5rem solid var(--color-secondary);
  border-style: solid;
  animation: appear 0.5s linear forwards;
  animation-timeline: view();
  animation-range: entry 10% cover 40%;
}
.about-us-text {
  font-size: 1.6rem;
  line-height: 2.2rem;
  padding-right: 6rem;
  animation: appear 0.5s linear forwards;
  animation-timeline: view();
  animation-range: entry 25% cover 65%;
}
.our-vision-and-goal .our-vision,
.our-goal {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  box-shadow: 0rem 0.2rem 0.5rem var(--color-secondary);
  border-radius: var(--border-radius-3);
  transition: all 0.3 ease-in-out;
}
.our-vision-and-goal .our-vision:hover,
.our-goal:hover {
  box-shadow: none;
}
.our-vision-and-goal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 1.8rem;
  padding: 3rem;
  border-radius: 2.3rem;
  background-color: var(--color-priamary);
  margin: 3rem 0rem 3rem 0rem;
  animation: appear 0.3s linear forwards;
  animation-timeline: view();
  animation-range: entry 10% cover 40%;
}
.our-vision-icon,
.our-goal-icon,
.des-card-icon {
  color: var(--color-white);
  width: 2.4rem;
  height: 2.4rem;
  background-color: var(--color-priamary);
  padding: 0.8rem;
  border-radius: 50%;
  margin-bottom: 1.3rem;
}
.our-vision,
.our-goal {
  animation: to_up 0.5s linear forwards;
  animation-timeline: view();
  animation-range: entry 5% cover 35%;
}
.our-vision-title,
.our-goal-title {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-secondary);
  margin-bottom: 0.8rem;
}
.our-goal-text,
.our-vision-text {
  font-size: 1.2rem;
  line-height: 2.3rem;
  color: #747373;
}
.contact-us-link {
  background-color: var(--color-priamary);
  color: var(--color-white);
  padding: 1.3rem 2rem;
  margin-top: 0rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  word-spacing: 0.3rem;
  letter-spacing: 0.1rem;
  border-radius: 2rem;
  box-shadow: 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in;
  animation: to_up 0.3s linear forwards;
  animation-timeline: view();
  animation-range: entry 5% cover 35%;
}
.contact-us-link:hover {
  background-color: var(--color-white);
  color: var(--color-priamary);
}

/* SECTION LANDSCAPE */
.section-landscape {
  position: relative;
}
.landscape-container {
  display: flex;
  flex-direction: column;
}
.heading {
  background-color: whitesmoke;
  display: flex;
  justify-content: space-around;
  height: 15rem;
  position: relative;
}
.heading-content {
  display: flex;
  justify-content: space-between;
  max-width: 60%;
  position: absolute;
  bottom: 4rem;
}
.heading-title {
  max-width: 75%;
  font-size: 2.4rem;
  color: var(--color-priamary);
  font-weight: 600;
  animation: to_up 0.5s linear forwards;
  animation-timeline: view();
  animation-range: entry 15% cover 55%;
}
.heading-button {
  background-color: var(--color-priamary);
  color: #fdf2e9;
  font-weight: 600;
  border-radius: 3rem;
  font-size: 16px;
  padding: 6px 12px;
  border: none;
  box-shadow: 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s all;
  animation: to_up 0.5s linear forwards;
  animation-timeline: view();
  animation-range: entry 15% cover 55%;
}
.heading-button:hover {
  background-color: #234d7c;
}
.landscpe-img-background {
  height: 30rem;
  background-image: url(assets/landscpae-img.webp);
  filter: contrast(20%);
  background-repeat: no-repeat;
  overflow: hidden;
  overlay: 10px;
  padding: 0;
  background-size: cover;
  background-position: center;
}
.lansdscape-des {
  background-color: var(--color-white);
  max-width: 53.5%;
  height: 29rem;
  padding: 3rem 4rem 3rem 8rem;
  margin-top: -1rem;
  border-radius: 1rem;
  box-shadow: var(--box-shadow-1);
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4rem;
  row-gap: 1rem;
  align-self: center;
  position: absolute;
  top: 14rem;
}
.des-card {
  padding: 1rem 1.3rem;
  position: relative;
  animation: appear 0.5s linear forwards;
  animation-timeline: view();
  animation-range: entry 15% cover 45%;
}
.des-card::after {
  content: "";
  width: 1px;
  height: 8rem;
  border-left: dashed 3px var(--color-secondary);
  display: flex;
  flex-direction: column;
  position: absolute;
  left: -2.4rem;
  top: 5rem;
}
.card-title {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--color-priamary);
  margin-bottom: 1.2rem;
}
.card-description {
  font-size: 1.2rem;
  line-height: 1.8;
}
.des-card-icon {
  background-color: var(--color-priamary);
  color: var(--color-secondary);
  position: absolute;
  width: 2rem;
  height: 2rem;
  left: -4rem;
  top: 1rem;
}
/* SECTION WORK WITH US */
/* Timeline  */
.tittle h1 {
  margin: 1em;
  font-size: 3rem;
  color: var(--color-priamary);
}
.checkpoint h2 {
  margin-bottom: 0.5em;
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--color-secondary);
}
.tittle {
  text-align: center;
}
.tittle p {
  color: var(--color-secondary);
  font-size: 1.3rem;
  letter-spacing: 2px;
}
.timeline {
  margin: 5rem auto;
  max-width: 34.15rem;
}
/* Animations for Checkpoints */
@keyframes fadeInSlideInLeft {
  from {
    opacity: 0;
    transform: translateX(20rem); /* Start further right */
  }
  to {
    opacity: 1;
    transform: translateX(17rem); /* Original position for odd */
  }
}
@keyframes fadeInSlideInRight {
  from {
    opacity: 0;
    transform: translateX(-20rem); /* Start further left */
  }
  to {
    opacity: 1;
    transform: translateX(-16.7rem); /* Original position for even */
  }
}
.checkpoint {
  max-width: 34rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  opacity: 0; /* Start hidden */
  /* Common animation properties for all checkpoints */
  animation-fill-mode: forwards; /* Keep the end state of the animation */
  animation-duration: 0.5s; /* Adjust duration as needed */
  animation-timing-function: ease-out; /* Smooth animation */
  animation-timeline: view(

  ); /* Animate based on element visibility in viewport */
  animation-range: entry 25% cover 50%; /* Adjust when animation starts/ends relative to viewport */
}
/* Specific animations for odd/even checkpoints */
.checkpoint:nth-child(odd) {
  border-left: 3px solid var(--color-priamary);
  padding-left: 3rem;
  animation-name: fadeInSlideInLeft;
}
.checkpoint:nth-child(even) {
  border-right: 3px solid var(--color-priamary);
  padding-right: 3rem;
  animation-name: fadeInSlideInRight;
}
/* Ensure the div inside checkpoint does not inherit transform */
.checkpoint div {
  border: 2px solid #888;
  border-radius: 1rem;
  padding: 1.5rem;
  background-color: var(--color-priamary);
}
.checkpoint p {
  line-height: 27px;
  font-weight: bold;
  color: var(--color-white);
  font-size: 1.2rem;
}
.checkpoint:nth-child(odd)::before,
.checkpoint:nth-child(even)::before {
  content: " ";
  background: var(--color-secondary);
  width: 3em;
  height: 3px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.checkpoint:nth-child(odd)::before {
  left: 0;
}
.checkpoint:nth-child(even)::before {
  right: 0;
}
.checkpoint:nth-child(odd) div::before,
.checkpoint:nth-child(even) div::before {
  content: " ";
  background: var(--color-white);
  box-shadow: 0 0 0.5em #0d71fc;
  width: 0.8em;
  height: 0.8em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}
.checkpoint:nth-child(odd) div::before {
  left: -0.5em;
}
.checkpoint:nth-child(even) div::before {
  right: -0.5em;
}
/*Time Line Responsive   */
/*Phone  */
@media screen and (max-width: 1150px) {
  .timeline {
    width: 80vw;
  }
  .timeline .checkpoint {
    width: 100%;
    transform: none;
    padding-left: 0;
    padding-right: 0;
    border: none;
  }
  .timeline .checkpoint::before {
    width: 3px;
    height: 4em;
    top: -2em;
    left: 50%;
    transform: translateX(-50%);
  }
  .timeline .checkpoint div::before {
    top: -0.5em;
    left: 50%;
    transform: translateX(-50%);
  }
}
/* Testimonials */
.testimonials-section {
  padding: 4.5rem 9rem;
  /* background-color: #0c54a4; */
}
.tesimonials-container-1 {
  padding: 4.5rem 9rem;
  background-color: #0c54a4;
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  gap: 6rem;
}
.tesimonials-des {
  padding: 4rem 9rem;
  display: flex;
  animation: appear 0.5s linear forwards;
  animation-timeline: view();
  animation-range: entry 15% cover 45%;
}
.tesimonials-des div {
  align-items: center;
  justify-content: center;
  transform: translateY(30%);
  margin-bottom: 9rem;
}
.tesimonials-des div h2 {
  font-size: 4.2rem;
  color: var(--color-secondary);
  line-height: 1.2;
  margin-bottom: 2rem;
}
.tesimonials-des div p {
  color: var(--color-white);
  line-height: 2;
  margin-bottom: 2rem;
}
.tesimonials-des div button {
  padding: 1rem 2rem;
  background-color: #062c56;
  color: var(--color-white);
  border-radius: 1rem;
}
.tesimonials {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  box-shadow: var(--box-shadow-1);
  border-left: 5px solid var(--color-dark-variant);
  margin-top: 3rem;
  padding: 1rem 4rem 1rem 2rem;
  transition: all 0.3s ease;
  animation: appear 0.5s linear forwards;
  animation-timeline: view();
  animation-range: entry 15% cover 45%;
}
.tesimonials-hover {
  border-left: 5px solid var(--color-secondary);
  transform: translateX(-7rem);
}

.card .tesimonials:nth-child(2) {
  transform: translateX(-7rem);
}
.tesimonials div img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.tesimonials div .image-div {
  align-items: center;
}
.card .tesimonials .text-des h3 {
  color: var(--color-secondary);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.card .tesimonials .text-des .tesimonials-person {
  color: var(--color-secondary);
}
.card .tesimonials .text-des p {
  line-height: 1.3;
  margin-bottom: 1rem;
}
/* SECTION testimonials */
.testimonials {
  padding: 4.5rem 9rem;
}
.testimonials-container {
  padding: 0rem 9rem;
  /* background-color: whitesmoke; */
}
.testimonials-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonials-title {
  font-size: 3.6rem;
  font-weight: 600;
  color: #444;
}
.testimonials-description {
  font-size: 1.2rem;
  font-weight: 400;
  color: #333;
  padding: 0rem 0rem;
}
.testimonals-main {
  background-color: var(--color-white);
  padding: 3rem 10rem;

  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
}
.testimonals-card {
  background-color: var(--color-white);
  padding: 0.5rem 10rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-self: center;
  border-radius: 2rem;
  box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.1);
  column-gap: 3rem;
  width: 900px;
  height: 400px;
}
.testimonals-main::after {
  content: " ";
  background-color: rgb(255, 187, 0);
  position: absolute;
  z-index: -1;
  width: 900px;
  height: 400px;
  right: 9rem;
  border-radius: 1.5rem;
  rotate: -3deg;
  box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.1);
}
.card-imge-box img {
  width: 202px;
  height: 180px;
  border-radius: 1rem;
}
.card-text-box {
  padding: 3rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-author {
  font-weight: 600;
  color: #242323;
  margin-top: 2rem;
}
/* TEstionials Sectio END */

/* CHOICE US  section */
.choice-us {
  overflow: hidden;
  padding: 4.5rem 9rem;
}
.container-you-choice-us {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 4rem;
  padding: 4rem 4rem;
}
.container-you-choice-us .h2 {
  font-size: 3.6rem;
  color: var(--color-priamary);
  display: flex;
  align-items: center;
  margin-top: 1rem;
  line-height: 1;
  background-color: var(--color-white);
  padding: 4rem 5rem;
}
.description .des {
  font-size: 1.8rem;
  line-height: 2;
  font-weight: 400;
  color: var(--color-dark);
  padding: 0rem 4rem;
}
.icons,
.expe {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 5rem;
  margin-top: -2rem;
  row-gap: 2rem;
  padding: 1rem 0rem;
  animation: appear 0.5s linear forwards;
  animation-timeline: view();
  animation-range: entry 25% cover 65%;
}
.icons span {
  color: var(--color-secondary);
  font-size: 50px;
  margin-bottom: 4rem;
}
.icons .details {
  font-size: 18px;
  font-weight: 600;
  margin-left: -10rem;
  margin-top: 6rem;
}
/* footer */
.footer-container {
  background: var(--color-background1);
  min-height: 450px;
  color: var(--color-white);
  text-decoration: none;
  justify-items: center;
  z-index: 1;
  border-top: solid 1rem var(--color-secondary);
  position: relative;
}
.main-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 4rem;
  column-gap: 2rem;
  padding: 4rem 8rem;
}
.main-footer .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0rem;
  padding: 2rem;
}
.main-footer .logo img {
  width: 100%;
  height: 70%;
}
.main-footer .logo p {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #dce1ed;
}
.subscribe {
  margin-top: 4.5rem;
  margin-left: 1rem;
}
.subscribe-container {
  position: absolute;
}
.subscribe input {
  padding: 2rem 1rem;
  font-size: 1.8rem;
  color: #3333338a;
  background-color: #dce1ed;
  text-align: center;
  border-radius: 5rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.subscribe .subscribe-link {
  position: absolute;
  display: inline;
  padding: 2.15rem 1rem;
  background-color: var(--color-secondary);
  text-decoration: none;
  font-size: 1.8rem;
  color: #dce1ed;

  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
  transition: all 0.3s ease;
}
.subscribe .subscribe-link:hover {
  background-color: #e4a950;
}
.social-link {
  display: flex;
  gap: 4rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 4rem;
  margin-top: 3rem;
}
.social-link-icon {
  margin-top: -4.5rem;
  padding: 2rem 0rem;
}
.social-link-icon:hover {
  transition: all 300ms ease;
}
.social-link img {
  width: 4rem;
  height: 4rem;
  margin-right: 2rem;
  transition: all 300ms ease;
}
.social-link img:hover {
  transform: translateY(-25%);
}
.social-link h2 {
  font-size: 24px;
  letter-spacing: 5px;
  font-weight: 600;
  color: #dce1ed;
}
.footer-about-us {
  padding: 2rem 4rem;
}
.footer-about-us h2 {
  font-size: 2.8rem;
  color: var(--color-secondary);
  letter-spacing: 3px;
  margin-bottom: 1.5rem;
}
.footer-about-us p {
  font-size: 1.8rem;
  font-weight: 400;
  color: #dce1ed;
  line-height: 1.5;
}
.footer-link {
  line-height: 30px;
  padding-left: 40px;
  padding-right: 100px;
  padding-top: 10px;
}
.footer-link a {
  font-size: 12px;
  display: flex;
  color: #dce1ed;
  text-decoration: none;
}
.footer-link a span {
  font-size: 18px;
  align-self: center;
  padding-right: 10px;
  color: var(--color-secondary);
}
.footer-link h2 {
  color: var(--color-secondary);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}
.footer-link h3 {
  color: #dce1ed;
}
.copy-right p {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  color: var(--color-secondary);
  margin-top: 1rem;
}

.last-card {
  background-color: red;
}
/* Navigation responsive behavior */
.navigation {
  transition: max-height 0.3s ease;
}
