<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/component/footer/footer.css" media="all" />
  <title>Footer</title>
</head>

<body>
  <footer>
    <div class="footer-container" id="footer">
      <div class="main-footer">
        <div class="logo">
          <img width="70%" height="100%" src="/assets/logo-primary.webp" alt="hidasie telecom secondary logo" />
          <p class="slogan">Experienced, New approach</p>
        </div>
        <div class="social-link" id="social-link">
          <h2>Follow Us</h2>
          <div class="social-link-icon">
            <a href="https://www.youtube.com/@hidasietelecom6057" target="_blank" title="youtube-icon"><img
                src="/assets/social-icons/youtube.svg" alt="youtube logo icon in red, representing a social icons in the website footer" /></a>

            <a href="https://web.facebook.com/people/Hidasie-Telecom/100064276440280" title="facebook-link"> <img
                src="/assets/social-icons/facebook.svg" alt="facebook logo icon in light blue, representing a social icons in the website footer" />
            </a>

            <a href="https://web.telegram.org/k/#@hidasie_telecom" title="telegram-link">
              <img src="/assets/social-icons/telegram.svg" alt="Telegram logo icon in blue, representing a social media link for Hidasie Telecom, displayed among other social icons in the website footer" />
            </a></a>
          </div>
        </div>
        <div class="footer-about-us">
          <h2>About Us</h2>
          <p>
            Private national distributor of telecom products through it's more
            than 800 shops across Ethiopia!
          </p>
        </div>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d886.4027155853472!2d38.757429421303634!3d8.999004860110118!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x164b857bfc04d5bb%3A0x117a3bd8c2173595!2sHidasie%20Telecom%20S.C!5e1!3m2!1sen!2set!4v1753270008247!5m2!1sen!2set" title="Hidasie Telecom location in Addis Ababa, Ethiopia"
          width="400" height="300" style="border: 0" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="custom-link">
          <div class="footer-link" id="contact-us">
            <h2>Contact us</h2>
            <a href="tel:0114-65-37-11">
              <ion-icon name="phone-portrait-outline"></ion-icon>
              <h3>0114-65-37-11</h3>
            </a>
            <a href="tel:8520">
              <ion-icon name="call-outline"></ion-icon>
              <h3>8520</h3>
            </a>
            <a href="mailto:info@hidasitelecom.et">
              <ion-icon name="mail-unread-outline"></ion-icon>
              <h3>info@hidasietelecom.et</h3>
            </a>
            <a href="#">
              <ion-icon name="mail-outline"></ion-icon>
              <h3>13149</h3>
            </a>
            <a href="tel:0114-66-36-49">
              <ion-icon name="chatbox-ellipses-outline"></ion-icon>
              <h3>0114-66-36-49</h3>
            </a>
            <a href="https://maps.app.goo.gl/Hyct4X9sVir1X1PQ8" target="_blank">
              <ion-icon name="location-outline"></ion-icon>
              <h3>Tele Garage,Addis Ababa, Ethiopia.</h3>
            </a>
          </div>
          <div class="footer-link quick-links" id="quick-links">
            <h2>Quick Links</h2>
            <a href="https://admin.htpay.et" target="_blank">
              <ion-icon class="icons" name="wallet-outline"></ion-icon>
              <h3>Admin Wallet</h3>
            </a>
            <a href="https://area.htpay.et" target="_blank">
              <ion-icon class="icons" name="wallet-outline"></ion-icon>
              <h3>Area Wallet</h3>
            </a>
            <a href="#">
              <ion-icon class="icons" name="apps-outline"></ion-icon>
              <h3>SHMS</h3>
            </a>
            <a href="hhtps://erp.hidasietelecom.et" target="_blank">
              <ion-icon class="icons" name="apps-outline"></ion-icon>
              <h3>ERP</h3>
            </a>
            <a href="https://webmail.hidasietelecom.et" target="_blank">
              <ion-icon class="icons" name="mail-outline"></ion-icon>
              <h3>Web-Mail</h3>
            </a>
            <a href="https://webmail.hidasietelecom.et" target="_blank">
              <ion-icon class="icons" name="mail-outline"></ion-icon>
              <h3>Web-Mail</h3>
            </a>
          </div>
        </div>
      </div>
      <div class="copy-right" id="copy-right">
        <p class="cp-text">
          ©
          <span id="copy-right-year" style="margin-right: 1rem">
            curentyear
          </span>
          Hidasie Telecom, All rights reserved.
        </p>
      </div>
    </div>
  </footer>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>