<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/component/navbar/nav.css" />
  <title>Navigation Bar</title>
</head>

<body>
  <nav>
    <div class="navbar">
      <div class="navbar-container">
        <a href="/index.html" class="navbar-logo"><img src="/assets/Secondary-Logo.png"
            alt="hidasie telecom secondary logo" width="200" /></a>
        <button class="navbar-toggle">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </button>
        <ul class="navbar-menu">
          <li><a href="/index.html" class="active">Home</a></li>
          <li class="service-priducts"><a href="/pages/service" class="dropbtn">Services
              <!-- <ion-icon name="chevron-down-outline"></ion-icon> -->
            </a>
            <!-- <ul class="dropdown">
              <li>
                <a href="#telecom-services">Telecoms</a>
              </li>
              <li>
                <a href="#non-telecom-service">Non Telecoms</a>
              </li>
            </ul> -->
          </li>
          <li><a href="/pages/contact">Contact</a></li>
          <li><a href="/pages/about">About us</a></li>
          <li><a href="#">Blog</a></li>

        </ul>
        <div class="search-container">
          <input type="text" placeholder="Search.." id="search-input" name="search" />
          <a href="#">
            <ion-icon name="search" class="ion" id="search-button"></ion-icon>
          </a>
        </div>
      </div>
    </div>
  </nav>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>